<div class="container-two">
  <div fxLayout="row" fxLayout.sm="column" fxFlex="100">
    <div
      fxFlex="50"
      fxLayout="row"
      fxLayoutGap="40px"
      fxLayoutAlign="center  space-between"
    >
      <div
        fxLayout="column"
        fxLayout.sm="column"
        fxLayoutAlign="center end"
        fxLayoutGap="40px"
      >
        <mat-card>
          <img src="assets/images/Get Paid Instantly.png" alt="" /><br />
          <strong>Quick cash disbursement</strong><br />
          <p>Get terms loans that your business needs within 72 hrs</p>
        </mat-card>
        <mat-card>
          <img src="assets/images/Low interest rate.png" alt="" /><br />
          <strong>Lower intrest rate</strong><br />
          <p>
            Achieve your financial goals with an amazing interest rate starting
            at 13% per annum
          </p>
        </mat-card>
        <mat-card>
          <img src="assets/images/Secure Payments.png" alt="" /><br />
          <strong>Zero paper work</strong><br />
          <p>
            Get started instantly by submitting only your basic details & bank
            statements
          </p>
        </mat-card>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center space-between"
        fxLayoutGap="40px"
        fxLayout.sm="column"
      >
        <mat-card>
          <img
            src="assets/images/freelancer_feature_icon_6@1.5x.png"
            alt=""
          /><br />
          <strong>Ace your business finance</strong><br />
          <p>
            Manage banking, accounting & everything in between, on one platform
          </p>
        </mat-card>
        <mat-card>
          <img src="assets/images/Covid.png" alt="" /><br />
          <strong>Loan to fight COVID-19</strong><br />
          <p>
            Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
          </p>
        </mat-card>
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayout="row"
      fxLayoutAlign="center  space-between end"
      class="partation-two"
      fxLayout.sm="column"
    >
      <div
        fxLayout="column"
        fxLayoutGap="40px"
        gdAlignColumns="center start"
        fxLayoutAlign="center end"
        fxLayoutGap="40px"
      >
        <span>Boost your business <br />with Open</span>
        <img fxLayoutAlign="start" src="assets/images/Line 3.svg" alt="" />
        <p>
          Get your hands on a term loan that’s <br />
          crafted for your business
        </p>
        <br />
        <br />
        <button mat-stroked-button color="primary">Get an Open Account</button>
      </div>
    </div>
  </div>
</div>
